@CHARSET "UTF-8";

.trd1{
	margin-left:128px;
	height: 62px;
	width:740px;
}

.trdpic1{
	float: left;
}

.trdpic1 img{
	height: 60px;
	margin-top: 4px;
}

.trd2{
	width:100px;
	height: 63px;
	float: left;
}
.trd2 ul{
	list-style: none;
}

.trd2 li{
	width: 100px;
	height: 20px;
	margin-top: 0px;
}

#trdli1{
	margin-top: 10px;
	font-size: 16px;
}