@CHARSET "UTF-8";

body,html {
	width: 508px;
	height: 667px;
	margin: 0px auto;
	padding: 0px;
	font-family: 黑体;
	text-align: center;
}

a {
	text-decoration: none;
}

img {
	border: 0px;
}

ul,li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.mainPageLayout {
	width: 508px;
	height: 667px;
	text-align: left;
	background-image: url(../../../img/myMarket/mainPage.gif);
}

.mainPageTop {
	height: 112px;
}

.mainPageImg img {
	width: 76px;
	height: 76px;
	margin-left: 10px;
	margin-top: 10px;
}

.mainPageImg {
	width: 110px;
	height: 112px;
	float: left;
}

.mainPageShowMessage {
	margin-top: 10px;
	width: 370px;
	height: 102px;
}

.mainPageMessage {
	width: 370px;
	height: 112px;
	float: left;
}

.mainPageMiddle {
	height: 166px;
	margin-left: 10px;
	width: 400px;
}

.mainPageDown {
	height: 166px;
	width: 480px;
	margin-left: 10px;
}

.showPoint {
	color: red;
	float: left;
	font-size: 14px;
}

textarea {
	resize: none;
}

.goodsinfo{
	width:100px;
	height:110px;
    margin-left: 5px;
    float: left;
}

.goodsimg img{
  width:100px;	
  height:85px;
  padding-top: 5px;
}

.goodsname{
	width:100px;
	text-align:center;
	font-size: 16px;
    font-family: "黑体";	
}

.goodsinfos{
	float: left;
	width:280px;
	height:110px;
	margin-left:50px;
}

.goodstypeandprice{
	width:270px;
	height:95px;
}

.goodsdate{
	width:270px;
	height:15px;
}

.goodsmain{
	width:270px;
	height:20px;
	padding-top: 20px;
}

.goodsformat1{
	color: #318ACC;
	font-size: 16px;
	font-family: "黑体";
	float: left;
}

.goodsformat2{
	font-size: 16px;
	font-family: "黑体";
	float: left;
}










